<!DOCTYPE html>

    <html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Add Game</title>

    </head>

    <body>

        <nav>

            <a href="/"><</a>
  
        </nav>

        <h1>Select A Day</h1>

        <div>Tuesday</div>

        <div>Wednesday</div>

        <div>Thursday</div>

        <form action="/new" method="POST">

			<input type="text" name="teamName" placeholder="name"/><br />
			<input type="text" name="teamCaptain" placeholder="captain"/><br />
			<input type="text" name="teamColor" placeholder="color"/><br />
			<input type="text" name="division" placeholder="division"/><br />
            <input type="text" name="gameTime" placeholder="time"/><br />
            <input type="text" name="gameField" placeholder="field"/><br />
			<input type="submit" name="" value="add game"/>

		</form>
        
    </body>

</html>