<!DOCTYPE html>

    <html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">
        <title>Add Game</title>

    </head>

    <body>

        <nav>

            <a href="/"><</a>
  
        </nav>

        <header>
      
            <h1>KEEPME</h1>
        
        </header>
            
        <div id="bg"></div>

        <h1 class="title">Select A Day</h1>

        <Main>
      

            <article id="days">
              <p>date</p>
              <h1>Tuesday</h1>
            </article>
      
            <article id="days">
              <p>date</p>
              <h1>Wednesday</h1>
            </article>
      
            <article id="days">
              <p>date</p>
              <h1>Thursday</h1>
            </article>
      
            
        </Main>

        <form action="/" method="POST">

			TEAM:<input type="text" name="teamName" placeholder="name"/><br />
			Captain:<input type="text" name="teamCaptain" placeholder="captain"/><br />
			Color:<input type="text" name="teamColor" placeholder="color"/><br />
			Division:<input type="text" name="division" placeholder="division"/><br />
            Time:<input type="text" name="gameTime" placeholder="time"/><br />
            Field:<input type="text" name="gameField" placeholder="field"/><br />
			<input type="submit" name="" value="add game"/>

		</form>

        <footer>
            Copyright &copy; KEEPME <span id="year"></span> All Rights Reserved
          </footer>
      
        
    </body>

</html>