* {
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

nav {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: black;
    margin: 0;
}

#bg {
    background-image: url("/images/dash_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 0px 0px 20px 20px;

}


header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
}

header {
    /* background-color: black; */
    color: #8C88EC;
    /* box-shadow: 1px 1px 5px 3px #000000; */
    padding-left: 1rem;
    justify-content: center;
    /* margin-bottom: -20px; */
}

footer {
    justify-content: center;
    margin-top: 100px;
}

#head1 {
    color:#52A9FF;
}

#head2 {
    color: #FF6144;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin: -8rem 1rem 0rem 3rem;
    color: white;
}

#days {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    width: 18.75;
    height: 9.375rem;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* background-color: #212121; */
    box-shadow: 2px 3px 5px 3px #6e6e6e;
    color: white;

}

#g1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    width: 10.75rem;
    min-height: 100px;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* background-color: #212121; */
    color: #8C88EC;
    box-shadow: 2px 3px 5px 3px #6e6e6e;
    padding: 20px;
}

#delete {
    background-color: #FF6144;
}

a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}